<h1 class="display-3">Team</h1>
<%= render "/partials/team_path" %>

<h3>Results</h3>
<%= render "/partials/results", :link_path => team_results_path(@team) %>
<h3 class="mt-5">Fixtures</h3>
<%= render "/partials/fixtures", :link_path => team_fixtures_path(@team) %>
<h3 class="mt-5">Ladder</h3>
<%= render "/partials/ladder", :age_group=> @team.age_group, :division=> @team.division, :specific_team=>nil %>
