<% if @fixtures.present? %>
  <%= render "/partials/fixtures_table" %>
  <div class="row mx-auto mt-5">
    <%= link_to "See All Fixtures →", link_path, :class=> 'btn btn-outline-success mx-auto' %>
  </div>

<% else %>
  <h3><small class="text-muted">No fixtures scheduled.</small></h3>
<% end %>
