<% if @results.present? %>
  <%= render "/partials/results_table" %>
  <div class="row mx-auto mt-5">
    <%= link_to "See All Results →", link_path, :class=> 'btn btn-outline-success mx-auto' %>
  </div>

<% else %>
  <h3><small class="text-muted">No results available.</small></h3>
<% end %>
