<li class="list-group-item pb-1">
  <form class="form-inline my-2 my-lg-0">
      <input id="<%= abbr %>-search" class="form-control mr-sm-2 w-100" type="search" placeholder="<%= text %>" aria-label="<%= text %>">
  </form>
</li>
