<div class="ro">
  <div class="col mx-auto text-center">
    <h1 class="display-3">Update Details</h1>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-3">
    <%= render "/partials/user_form", :text => "Update Account" %>
  </div>
</div>
