

<h1 class="mx-auto text-center grassy logo-big">grassy</h1>
<h2 class="lead py-4 px-5 mt-5 mb-2 text-center larger">Simple grassroots competition management</h2>



<div class="text-center px-4 py-4">
    <a class="btn btn-lg btn-success my-5" href="<%= navigator_path %>"><h1 class="lead my-0 py-2 px-4">Find Your Team <i class="fas fa-futbol"></i></h1></a>
</div>




