@import '~bootstrap/scss/bootstrap';

td, th {
  text-align: center;
}

.left-align {
  text-align: left;
}
.right-align {
  text-align:right;
}

.form-icon {
  width: 25px;
  height: 25px;
  display:inline-block;
  position: relative;
  border-radius: 50%;
  color: #222;
  text-align: center;
  font-family: monospace;
  font-size: 18px;

}
.form-icon strong {
  color: #222;
}
.form-icon abbr, .form-icon a {
  text-decoration: none;
  font-weight: normal;
}

.this-team, .page-team {
  font-weight: bold;
}

/* form hover match result popup */
.form-hover-detail {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -60px;
  width: 170px;
  left: -130px;
  background: rgba(255,255,255,1);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
/* little speech bubble arrow under hover popup */
.form-hover-detail:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 140px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: rgba(255,255,255,1);
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}
.form-icon:hover span {
  visibility: visible;
  opacity: 1;
  transition: 0.3s opacity;
}

.form-w {
  background: #7cf17d;
  color: #308e31;
}
.form-l {
  background: #ce7e7e;
  color: #8b2121;
}
.form-d {
  background: #e3e0b2;
  color: #454545;
}
.form-container {
  width: 180px;
  min-width:180px;
}


.table-highlight {
  font-weight: bold;
  // color: #facb6e;
}

.osm {
  width: 100%;
  height: 40em;
}
.team-tile {
  // // background: rgba(0,0,0,0.15);
  // padding: 1em;
  // margin-bottom: 2em;
}
// .dash-info {
//   display: grid;
//   grid-template-columns: 1fr 1fr 600px;
// }

// .dash-info  h4 {
//   padding-bottom:0.5em;
//   border-bottom: 1px solid #dbdbdb;
// }

.dash-latest-result {
  /* margin: 0 1em */
}
.dash-table {
  // width: 600px;
  // flex-shrink: 0;
  // margin-top: calc(1.33em - 4px);
}
.compact tr {
  color: #ccc;
}
.compact tr.fav-team {
  color: #212529;
}
.compact tr.fav-team a {
  font-weight: bold;
}
