@import '~bootstrap/scss/bootstrap';

td, th {
  text-align: center;
}

.left-align {
  text-align: left;
}
.right-align {
  text-align:right;
}
.form-container {
  width: 12rem;
  min-width:12rem;
  margin: 0 auto;
}
.form-icon {
  width: 1.9rem;
  height: 1.9rem;
  line-height: 1.9rem;
  font-size: 0.85rem;
  display:inline-block;
  position: relative;
  border-radius: 100%;
  color: #fff;
  text-align: center;
}
.form-icon abbr, a.form-icon {
  text-decoration: none;
  font-weight: normal;
}
.form-icon abbr:hover, a.form-icon:hover {
  text-decoration: none;
  color: #fff;
}

.this-team, .page-team {
  font-weight: bold;
}
a.fav-team {
  color: #343a40;
}

/* form hover match result popup */
.form-hover-detail {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -60px;
  width: 200px;
  left: -170px;
  background: #f8f9fa;
  padding: 10px;
  color: #212529;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
/* little speech bubble arrow under hover popup */
.form-hover-detail:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 183px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: rgba(255,255,255,1);
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}
.form-icon:hover span {
  visibility: visible;
  opacity: 1;
  transition: 0.3s opacity;
}

.form-w {
  background: #28a745;
}
.form-l {
  background: #dc3545;
}
.form-d {
  background: #343a40;
}




.table-highlight {
  font-weight: bold;
}

.gmap {
  width: 100%;
  height: 25em;
}

.compact tr {
  color: #ccc;
}
.compact tr.fav-team {
  color: #212529;
}
.compact tr.fav-team a {
  font-weight: bold;
}
.result-score {
  background: #007aff;
  color: #fff;
  padding: 0;
  min-width: 4.6rem;
  display: inline-block;
  border-radius:0.4rem;
  text-align: center;

}
.result-score span {
  padding: 0 .6rem 0 .5rem;
  position: relative;
  color: #007aff;
}
.result-score span::before {
  content: " ";
  display: block;
  width: .1rem;
  height: 150%;
  background: hsla(0,0%,100%,.2);
  position: absolute;
  top: -4px;
  left: 50%;
}
h5.card-score .result-score {
  padding: 0.2rem 0;
  font-size: 90%;
  min-width: 4.4rem;
}
h5.card-score .result-score span {
  padding: 0;
}
span.form-hover-detail .result-score {
  margin: 0 0.2rem;
}
.col-50 .result-score,
h3.mx-auto .result-score {
  padding: 0 0.8rem;
}
.col-50 .result-score span,
h3.mx-auto .result-score span {
  padding: 0 0.2rem 0 0.3rem;
}
.nobreak {
  white-space: nowrap;
}
.flex-right {
  display:flex;
  align-items:center;
  justify-content:flex-end;
}
table#ground-list td,
table#ground-list th{
  text-align: left;
  vertical-align: middle;
}
table#ground-list td .btn {
  text-align: right;
}

.tcol-20 {
  width:20%;
}
.tcol-60 {
  width: 60%;
}
#clubs li:nth-child(0n + 2) {
  border-top: 0;
}
