<div class="row">
  <div class="col">
    <h1 class="display-3">Edit Match</h1>
  </div>
</div>
<div class="row mt-5">
  <div class="col">

    <%= render "/partials/team_cu_form", :text => 'Update Match', :update => true %>

  </div>

</div>
