<div class="row">
  <div class="col">
  <h1 class="display-3">Schedule New Match</h1>
  </div>
</div>

<div class="row mt-5">
  <div class="col">

    <%= render "/partials/team_cu_form", :text => 'Create Match', :update => false %>

  </div>

</div>
