td, th {
  text-align: center;
}


.table > span {
  padding: 0.5em;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
}
.table:nth-row(odd)  span {
   background: #29394d;
}

.left-align {
  text-align: left;
}
.right-align {
  text-align:right;
}
